header{
    display: flex;
    padding-inline: 16px;
    padding-block: 8px;
    background-color: aliceblue;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    line-height: 32px;
}